In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0,8.0)

C:\Users\GURU\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [61]:
df = pd.read_csv("C:/Users/GURU/Desktop/1_week/darksky_historical.csv",sep=";")

In [62]:
df.head()

,plant_id,datetime_utc,datetime_local,cloud_cover,apparent_temperature,temperature,humidity,dew_point,wind_bearing,wind_speed,...,precip_accumulation,precip_intensity,precip_probability,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
0,13,2010-12-31 18:30:00,2011-01-01 00:00:00,0.30,8.44,9.68,0.95,8.95,230.0,2.51,...,NaN,NaN,NaN,rain,0.82,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
1,13,2010-12-31 19:30:00,2011-01-01 01:00:00,0.31,7.71,8.89,1.00,8.89,240.0,2.24,...,NaN,NaN,NaN,rain,0.48,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
2,13,2010-12-31 20:30:00,2011-01-01 02:00:00,0.31,7.71,8.89,1.00,8.89,250.0,2.24,...,NaN,NaN,NaN,rain,0.32,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
3,13,2010-12-31 21:30:00,2011-01-01 03:00:00,0.10,7.76,8.90,0.95,8.20,273.0,2.18,...,NaN,NaN,NaN,rain,0.45,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
4,13,2010-12-31 22:30:00,2011-01-01 04:00:00,0.31,8.44,10.00,1.00,10.00,270.0,3.13,...,NaN,NaN,NaN,rain,0.32,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39

In [63]:
df.tail()

,plant_id,datetime_utc,datetime_local,cloud_cover,apparent_temperature,temperature,humidity,dew_point,wind_bearing,wind_speed,...,precip_accumulation,precip_intensity,precip_probability,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
69551,13,2018-12-09 13:30:00,2018-12-09 19:00:00,0.0,17.48,17.48,0.72,12.28,NaN,0.00,...,NaN,0.0,0.0,NaN,2.24,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69552,13,2018-12-09 14:30:00,2018-12-09 20:00:00,0.0,15.51,15.51,0.68,9.64,NaN,0.00,...,NaN,0.0,0.0,NaN,2.27,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69553,13,2018-12-09 15:30:00,2018-12-09 21:00:00,0.0,14.01,14.01,0.65,7.50,36.0,0.88,...,NaN,0.0,0.0,NaN,13.20,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69554,13,2018-12-09 16:30:00,2018-12-09 22:00:00,0.0,13.51,13.51,0.69,8.01,55.0,1.84,...,NaN,0.0,0.0,NaN,13.10,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69555,13,2018-12-09 17:30:00,2018-12-09 23:00:00,0.0,12.74,12.74,0.71,7.52,73.0,2.04,...,NaN,0.0,0.0,NaN,3.81,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69556 entries, 0 to 69555
Data columns (total 30 columns):
plant_id                69556 non-null int64
datetime_utc            69556 non-null object
datetime_local          69556 non-null object
cloud_cover             52882 non-null float64
apparent_temperature    69276 non-null float64
temperature             69276 non-null float64
humidity                69267 non-null float64
dew_point               69267 non-null float64
wind_bearing            58830 non-null float64
wind_speed              61032 non-null float64
wind_chill              0 non-null float64
wind_gust               6103 non-null float64
heat_index              0 non-null float64
pressure                27874 non-null float64
qpf                     0 non-null float64
uv_index                6112 non-null float64
snow                    0 non-null float64
pop                     0 non-null float64
fctcode                 0 non-null float64
ozone                   6120 non-null float64
precip_accumulation     0 non-null float64
precip_intensity        6120 non-null float64
precip_probability      6120 non-null float64
precip_type             65013 non-null object
visibility              69375 non-null float64
sunrise                 69556 non-null object
sunset                  69556 non-null object
icon                    69556 non-null object
summary                 69556 non-null object
updated_at              69556 non-null object
dtypes: float64(21), int64(1), object(8)
memory usage: 15.9+ MB

In [65]:
df.isnull().sum()

plant_id                    0
datetime_utc                0
datetime_local              0
cloud_cover             16674
apparent_temperature      280
temperature               280
humidity                  289
dew_point                 289
wind_bearing            10726
wind_speed               8524
wind_chill              69556
wind_gust               63453
heat_index              69556
pressure                41682
qpf                     69556
uv_index                63444
snow                    69556
pop                     69556
fctcode                 69556
ozone                   63436
precip_accumulation     69556
precip_intensity        63436
precip_probability      63436
precip_type              4543
visibility                181
sunrise                     0
sunset                      0
icon                        0
summary                     0
updated_at                  0
dtype: int64

In [66]:
df.columns

Index(['plant_id', 'datetime_utc', 'datetime_local', 'cloud_cover',
       'apparent_temperature', 'temperature', 'humidity', 'dew_point',
       'wind_bearing', 'wind_speed', 'wind_chill', 'wind_gust', 'heat_index',
       'pressure', 'qpf', 'uv_index', 'snow', 'pop', 'fctcode', 'ozone',
       'precip_accumulation', 'precip_intensity', 'precip_probability',
       'precip_type', 'visibility', 'sunrise', 'sunset', 'icon', 'summary',
       'updated_at'],
      dtype='object')

As we can see['wind_chill', 'wind_gust', 'heat_index',
       'pressure', 'qpf', 'uv_index', 'snow', 'pop', 'fctcode', 'ozone',
       'precip_accumulation', 'precip_intensity', 'precip_probability',] these variable contains lots of null values and Missing values

In [67]:
df.drop(['wind_chill', 'wind_gust', 'heat_index',
       'pressure', 'qpf', 'uv_index', 'snow', 'pop','fctcode','ozone',
       'precip_accumulation', 'precip_intensity','precip_probability'],axis = 1,inplace = True)

In [68]:
df2=df.copy()

In [69]:
df2.head(50)

,plant_id,datetime_utc,datetime_local,cloud_cover,apparent_temperature,temperature,humidity,dew_point,wind_bearing,wind_speed,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
0,13,2010-12-31 18:30:00,2011-01-01 00:00:00,0.30,8.44,9.68,0.95,8.95,230.0,2.51,rain,0.82,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
1,13,2010-12-31 19:30:00,2011-01-01 01:00:00,0.31,7.71,8.89,1.00,8.89,240.0,2.24,rain,0.48,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
2,13,2010-12-31 20:30:00,2011-01-01 02:00:00,0.31,7.71,8.89,1.00,8.89,250.0,2.24,rain,0.32,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
3,13,2010-12-31 21:30:00,2011-01-01 03:00:00,0.10,7.76,8.90,0.95,8.20,273.0,2.18,rain,0.45,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
4,13,2010-12-31 22:30:00,2011-01-01 04:00:00,0.31,8.44,10.00,1.00,10.00,270.0,3.13,rain,0.32,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
5,13,2010-12-31 23:30:00,2011-01-01 05:00:00,0.75,8.21,10.00,1.00,10.00,280.0,3.58,rain,0.64,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
6,13,2011-01-01 00:30:00,2011-01-01 06:00:00,0.69,8.58,9.96,0.95,9.27,281.0,2.81,rain,0.43,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
7,13,2011-01-01 01:30:00,2011-01-01 07:00:00,0.31,7.10,8.89,1.00,8.89,280.0,3.13,rain,0.48,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
8,13,2011-01-01 02:30:00,2011-01-01 08:00:00,0.31,7.38,8.89,1.00,8.89,310.0,2.68,rain,0.16,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
9,13,2011-01-01 03:30:00,2011-01-01 09:00:00,0.00,8.10,9.58,0.95,8.89,312.0,2.85,rain,0.53,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
10,13,2011-01-01 04:30:00,2011-01-01 10:00:00,0.15,10.29,10.29,0.95,9.51,297.0,3.10,rain,1.38,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
11,13,2011-01-01 05:30:00,2011-01-01 11:00:00,0.31,11.11,11.11,0.93,10.02,280.0,3.13,rain,2.09,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
12,13,2011-01-01 06:30:00,2011-01-01 12:00:00,0.10,12.78,12.78,0.77,8.84,196.0,2.23,rain,1.42,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
13,13,2011-01-01 07:30:00,2011-01-01 13:00:00,0.31,13.89,13.89,0.72,8.92,300.0,3.58,rain,2.90,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
14,13,2011-01-01 08:30:00,2011-01-01 14:00:00,0.31,15.00,15.00,0.72,9.99,310.0,4.47,rain,3.06,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
15,13,2011-01-01 09:30:00,2011-01-01 15:00:00,0.02,15.96,15.96,0.63,8.89,312.0,3.97,rain,2.24,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
16,13,2011-01-01 10:30:00,2011-01-01 16:00:00,0.00,15.00,15.00,0.67,8.92,300.0,5.81,rain,3.06,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
17,13,2011-01-01 11:30:00,2011-01-01 17:00:00,0.00,15.00,15.00,0.72,9.99,270.0,4.02,rain,2.90,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
18,13,2011-01-01 12:30:00,2011-01-01 18:00:00,0.02,13.43,13.43,0.76,9.38,270.0,3.75,rain,2.04,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
19,13,2011-01-01 13:30:00,2011-01-01 19:00:00,0.00,11.11,11.11,0.93,10.02,280.0,3.13,rain,1.61,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
20,13,2011-01-01 14:30:00,2011-01-01 20:00:00,0.00,7.99,10.00,1.00,10.00,310.0,4.02,rain,1.45,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
21,13,2011-01-01 15:30:00,2011-01-01 21:00:00,0.12,7.81,9.64,0.93,8.49,307.0,3.50,rain,1.79,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
22,13,2011-01-01 16:30:00,2011-01-01 22:00:00,0.31,5.04,7.78,1.00,7.78,280.0,4.47,rain,1.45,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
23,13,2011-01-01 17:30:00,2011-01-01 23:00:00,NaN,6.23,8.89,1.00,8.89,300.0,4.92,rain,1.45,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
24,13,2011-01-01 18:30:00,2011-01-02 00:00:00,0.00,6.45,9.27,0.95,8.54,314.0,5.62,rain,1.29,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
25,13,2011-01-01 19:30:00,2011-01-02 01:00:00,NaN,4.84,7.78,1.00,7.78,290.0,4.92,rain,2.57,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
26,13,2011-01-01 20:30:00,2011-01-02 02:00:00,NaN,4.84,7.78,1.00,7.78,300.0,4.92,rain,2.57,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
27,13,2011-01-01 21:30:00,2011-01-02 03:00:00,0.00,6.29,8.56,0.91,7.09,312.0,3.87,rain,1.43,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
28,13,2011-01-01 22:30:00,2011-01-02 04:00:00,NaN,6.63,8.89,0.93,7.82,280.0,4.02,rain,2.41,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
29,13,2011-01-01 23:30:00,2011-01-02 05:00:00,NaN,6.63,8.89,1.00,8.89,270.0,4.02,rain,2.41,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
30,13,2011-01-02 00:30:00,2011-01-02 06:00:00,0.38,7.77,9.61,0.89,7.85,282.0,3.51,rain,1.42,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
31,13,2011-01-02 01:30:00,2011-01-02 07:00:00,NaN,6.85,8.89,1.00,8.89,270.0,3.58,rain,2.25,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
32,13,2011-01-02 02:30:00,2011-01-02 08:00:00,0.75,7.62,10.00,0.86,7.77,280.0,4.92,rain,2.90,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
33,13,2011-01-02 03:30:00,2011-01-02 09:00:00,0.75,8.15,9.93,0.86,7.76,282.0,3.52,rain,1.59,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
34,13,2011-01-02 04:30:00,2011-01-02 10:00:00,0.75,11.11,11.11,0.80,7.79,280.0,5.81,rain,3.06,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
35,13,2011-01-02 05:30:00,2011-01-02 11:00:00,0.75,11.11,11.11,0.77,7.23,300.0,4.92,rain,3.22,2011-01-02 01:45:00,2011-01-02 12:06:56,partly-cloudy-day,Mostly Cloudy,2018-04-11 11:33:36
36,13,2011-01-02 06:30:00,2011-01-02 12:00:00,0.75,11.77,11.77,0.76,7.64,259.0,4.49,rain,1.67,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
37,13,2011-01-02 07:30:00,2011-01-02 13:00:00,0.75,12.78,12.78,0.72,7.86,280.0,3.58,rain,3.22,2011-01-02 01:45:00,2011-01-02 12:06:56,partly-cloudy-day,Mostly Cloudy,2018-04-11 11:33:36
38,13,2011-01-02 08:30:00,2011-01-02 14:00:00,0.75,12.78,12.78,0.69,7.23,290.0,3.58,rain,3.22,2011-01-02 01:45:00,2011-01-02 12:06:56,partly-cloudy-day,Mostly Cloudy,2018-04-11 11:33:36
39,13,2011-01-02 09:30:00,2011-01-02 15:00:00,0.75,12.14,12.14,0.73,7.36,299.0,1.27,rain,3.12,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
40,13,2011-01-02 10:30:00,2011-01-02 16:00:00,0.75,12.22,12.22,0.74,7.72,320.0,4.02,rain,3.06,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
41,13,2011-01-02 11:30:00,2011-01-02 17:00:00,0.75,11.11,11.11,0.80,7.79,320.0,3.58,rain,2.57,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
42,13,2011-01-02 12:30:00,2011-01-02 18:00:00,0.73,11.47,11.47,0.82,8.54,320.0,3.01,rain,1.50,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
43,13,2011-01-02 13:30:00,2011-01-02 19:00:00,0.75,11.11,11.11,0.80,7.79,320.0,3.13,rain,2.57,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
44,13,2011-01-02 14:30:00,2011-01-02 20:00:00,0.75,8.21,10.00,0.83,7.24,330.0,3.58,rain,2.90,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
45,13,2011-01-02 15:30:00,2011-01-02 21:00:00,0.77,8.18,9.88,0.83,7.21,339.0,3.32,rain,2.98,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
46,13,2011-01-02 16:30:00,2011-01-02 22:00:00,0.75,8.21,10.00,0.77,6.16,350.0,3.58,rain,3.06,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
47,13,2011-01-02 17:30:00,2011-01-02 23:00:00,0.75,9.01,10.00,0.77,6.16,320.0,2.24,rain,2.57,2011-01-02 01:45:00,2011-01-02 12:06:56,fog,Foggy,2018-04-11 11:33:36
48,13,2011-01-02 18:30:00,2011-01-03 00:00:00,0.76,9.35,9.92,0.79,6.53,304.0,1.71,rain,1.48,2011-01-03 01:45:13,2011-01-03 12:07:38,fog,Foggy,2018-04-11 11:33:33
49,13,2011-01-02 19:30:00,2011-01-03 01:00:00,0.75,8.44,10.00,0.77,6.16,320.0,3.13,rain,2.25,2011-01-03 01:45:13,2011-01-03 12:07:38,fog,Foggy,2018-04-11 11:33:33

In [70]:
df2.tail()

,plant_id,datetime_utc,datetime_local,cloud_cover,apparent_temperature,temperature,humidity,dew_point,wind_bearing,wind_speed,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
69551,13,2018-12-09 13:30:00,2018-12-09 19:00:00,0.0,17.48,17.48,0.72,12.28,NaN,0.00,NaN,2.24,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69552,13,2018-12-09 14:30:00,2018-12-09 20:00:00,0.0,15.51,15.51,0.68,9.64,NaN,0.00,NaN,2.27,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69553,13,2018-12-09 15:30:00,2018-12-09 21:00:00,0.0,14.01,14.01,0.65,7.50,36.0,0.88,NaN,13.20,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69554,13,2018-12-09 16:30:00,2018-12-09 22:00:00,0.0,13.51,13.51,0.69,8.01,55.0,1.84,NaN,13.10,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69555,13,2018-12-09 17:30:00,2018-12-09 23:00:00,0.0,12.74,12.74,0.71,7.52,73.0,2.04,NaN,3.81,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22

In [71]:
#missing Value by percentages

miss = df2.isnull().sum()/len(df2)
miss = miss[miss >0]
miss.sort_values(inplace = True)
miss
#miss = miss[miss > 0]

visibility              0.002602
apparent_temperature    0.004026
temperature             0.004026
humidity                0.004155
dew_point               0.004155
precip_type             0.065314
wind_speed              0.122549
wind_bearing            0.154207
cloud_cover             0.239721
dtype: float64

In [72]:
df2.drop(['plant_id'],axis = 1,inplace = True)

In [73]:
df2.head()

,datetime_utc,datetime_local,cloud_cover,apparent_temperature,temperature,humidity,dew_point,wind_bearing,wind_speed,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
0,2010-12-31 18:30:00,2011-01-01 00:00:00,0.30,8.44,9.68,0.95,8.95,230.0,2.51,rain,0.82,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
1,2010-12-31 19:30:00,2011-01-01 01:00:00,0.31,7.71,8.89,1.00,8.89,240.0,2.24,rain,0.48,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
2,2010-12-31 20:30:00,2011-01-01 02:00:00,0.31,7.71,8.89,1.00,8.89,250.0,2.24,rain,0.32,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
3,2010-12-31 21:30:00,2011-01-01 03:00:00,0.10,7.76,8.90,0.95,8.20,273.0,2.18,rain,0.45,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39
4,2010-12-31 22:30:00,2011-01-01 04:00:00,0.31,8.44,10.00,1.00,10.00,270.0,3.13,rain,0.32,2011-01-01 01:44:45,2011-01-01 12:06:15,fog,Foggy,2018-04-11 11:33:39

Replacing NaN values in wind_bearing variables
and missing values before and after

In [74]:
miss_bool = df2['wind_bearing'].isnull() 

print ('Orignal #missing: %d'% sum(miss_bool))
df2['wind_bearing'].fillna((df2['wind_bearing'].mean()), inplace=True)
print ('Final #missing: %d'% sum(df2['wind_bearing'].isnull()))

Orignal #missing: 10726
Final #missing: 0

In [75]:
df2.tail()

,datetime_utc,datetime_local,cloud_cover,apparent_temperature,temperature,humidity,dew_point,wind_bearing,wind_speed,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
69551,2018-12-09 13:30:00,2018-12-09 19:00:00,0.0,17.48,17.48,0.72,12.28,206.465596,0.00,NaN,2.24,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69552,2018-12-09 14:30:00,2018-12-09 20:00:00,0.0,15.51,15.51,0.68,9.64,206.465596,0.00,NaN,2.27,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69553,2018-12-09 15:30:00,2018-12-09 21:00:00,0.0,14.01,14.01,0.65,7.50,36.000000,0.88,NaN,13.20,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69554,2018-12-09 16:30:00,2018-12-09 22:00:00,0.0,13.51,13.51,0.69,8.01,55.000000,1.84,NaN,13.10,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69555,2018-12-09 17:30:00,2018-12-09 23:00:00,0.0,12.74,12.74,0.71,7.52,73.000000,2.04,NaN,3.81,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22

Variable 'temperature' and 'apparent_temperature' are highly correlated, so lets drop 'apparent_temperature' Variable

In [76]:
del df2['apparent_temperature']

In [77]:
df3 = df2.copy()

In [78]:
df3.tail()

,datetime_utc,datetime_local,cloud_cover,temperature,humidity,dew_point,wind_bearing,wind_speed,precip_type,visibility,sunrise,sunset,icon,summary,updated_at
69551,2018-12-09 13:30:00,2018-12-09 19:00:00,0.0,17.48,0.72,12.28,206.465596,0.00,NaN,2.24,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69552,2018-12-09 14:30:00,2018-12-09 20:00:00,0.0,15.51,0.68,9.64,206.465596,0.00,NaN,2.27,2018-12-09 01:33:25,2018-12-09 11:56:01,fog,Foggy,2018-12-09 18:40:22
69553,2018-12-09 15:30:00,2018-12-09 21:00:00,0.0,14.01,0.65,7.50,36.000000,0.88,NaN,13.20,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69554,2018-12-09 16:30:00,2018-12-09 22:00:00,0.0,13.51,0.69,8.01,55.000000,1.84,NaN,13.10,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22
69555,2018-12-09 17:30:00,2018-12-09 23:00:00,0.0,12.74,0.71,7.52,73.000000,2.04,NaN,3.81,2018-12-09 01:33:25,2018-12-09 11:56:01,clear-night,Clear,2018-12-09 18:40:22